## 1ï¸âƒ£ íŒë‹¤ìŠ¤(Pandas)ê°€ í•„ìš”í•œ ì´ìœ 

> NumPyëŠ” ë¹ ë¥´ì§€ë§Œ â€œí–‰ê³¼ ì—´ì˜ ì˜ë¯¸â€ê°€ ì—†ìŠµë‹ˆë‹¤.
> 
> 
> ì¦‰, ìˆ«ìëŠ” ì²˜ë¦¬í•  ìˆ˜ ìˆì–´ë„ â€œë°ì´í„°ì˜ ì´ë¦„, ì»¬ëŸ¼, ì¸ë±ìŠ¤â€ë¥¼ ëª¨ë¦…ë‹ˆë‹¤.
> 

**PandasëŠ” ê·¸ í•œê³„ë¥¼ ê·¹ë³µí•œ ë°ì´í„° ë¶„ì„ìš© ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤.**

---

### ğŸ’¡ íŒë‹¤ìŠ¤ì˜ ì£¼ìš” íŠ¹ì§•

| í•­ëª© | ì„¤ëª… |
| --- | --- |
| êµ¬ì¡°í™”ëœ ë°ì´í„° | í–‰(Row) + ì—´(Column) í˜•íƒœ |
| ë ˆì´ë¸” ê¸°ë°˜(ë³€ìˆ˜ì´ë¦„ ê¸°ë°˜) ì ‘ê·¼ | ìˆ«ìê°€ ì•„ë‹Œ â€œì´ë¦„â€ìœ¼ë¡œ ë°ì´í„° ì ‘ê·¼ |
| ë‹¤ì–‘í•œ ì…ì¶œë ¥ ì§€ì› | CSV, Excel, JSON, SQL, HTML ë“± |
| NumPy ê¸°ë°˜ | ë‚´ë¶€ì ìœ¼ë¡œ NumPy ë°°ì—´ì„ ì‚¬ìš© (ê³ ì† ì—°ì‚°) |
| ë¶„ì„ ì¹œí™”ì  | ê·¸ë£¹, í”¼ë²—, í†µê³„, ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë“± ë‚´ì¥ |

---

### ğŸ“Š ì‹¤ë¬´ ì˜ˆì‹œ

| ì‚¬ë¡€ | í™œìš© ì˜ˆ |
| --- | --- |
| ë§¤ì¶œ ë°ì´í„° ë¶„ì„ | `read_csv()`ë¡œ ë¶ˆëŸ¬ì™€ `groupby()`ë¡œ í•©ê³„ ê³„ì‚° |
| ê³ ê° ë°ì´í„° ê´€ë¦¬ | ê³ ê° ë“±ê¸‰, êµ¬ë§¤ íŒ¨í„´ ì§‘ê³„ |
| í…ìŠ¤íŠ¸ ë°ì´í„° ë¶„ì„ | ëŒ“ê¸€, ë¦¬ë·° ë°ì´í„° ì „ì²˜ë¦¬ |
| AI í•™ìŠµ ë°ì´í„° ì¤€ë¹„ | CSV â†’ DataFrame ë³€í™˜ í›„ ëª¨ë¸ í•™ìŠµìš© êµ¬ì¡°í™” |

---

## 2ï¸âƒ£ Seriesì™€ DataFrame

> Pandasì˜ ê¸°ë³¸ ë°ì´í„° ë‹¨ìœ„ëŠ” ë‘ ê°€ì§€ì…ë‹ˆë‹¤.
> 

---

### ğŸ”¹ Series (1ì°¨ì›)

> â€œí•˜ë‚˜ì˜ ì—´(column)â€ì„ í‘œí˜„í•˜ëŠ” 1ì°¨ì› êµ¬ì¡°
> 
> 
> (ì¸ë±ìŠ¤ì™€ ê°’ìœ¼ë¡œ êµ¬ì„±)
>

In [5]:
# 1ì°¨ì› ìë£Œ ìƒì„±
import pandas as pd

s = pd.Series([100, 200, 300, 400])
print(s)

0    100
1    200
2    300
3    400
dtype: int64

In [9]:
# 2ì°¨ì› ë°°ì—´ ìƒì„± - Data frame ìƒì„±
# jsoní˜•íƒœì˜ ìë£Œêµ¬ì¡° í˜•íƒœë¥¼ ë³¼ ìˆ˜ ìˆìŒ

data = {
    "ì´ë¦„" : ["í™ê¸¸ë™", "ì´ëª½ë£¡", "ì„±ì¶˜í–¥"],
    "ë‚˜ì´" : [30,20,40],
    "ì§ì—…" : ["ê°œë°œì", "ë¶„ì„ê°€", "ë””ìì´ë„ˆ"]}


df  = pd.DataFrame(data)
display(df)

    ì´ë¦„  ë‚˜ì´    ì§ì—…
0  í™ê¸¸ë™  30   ê°œë°œì
1  ì´ëª½ë£¡  20   ë¶„ì„ê°€
2  ì„±ì¶˜í–¥  40  ë””ìì´ë„ˆ

---

## 3ï¸âƒ£ CSV íŒŒì¼ ì½ê¸° & ì“°ê¸°

> CSV(Comma-Separated Values)ëŠ”
> 
> 
> ê°€ì¥ ì¼ë°˜ì ì¸ **ë°ì´í„° íŒŒì¼ í¬ë§·**ì…ë‹ˆë‹¤.
>

In [ ]:
# csvë¡œ ì €ì¥
df.to_csv("test.csv", index=False, encoding="utf-8")

In [13]:
df2 = pd.read_csv("test.csv", encoding="utf-8")
display(df2)

    ì´ë¦„  ë‚˜ì´    ì§ì—…
0  í™ê¸¸ë™  30   ê°œë°œì
1  ì´ëª½ë£¡  20   ë¶„ì„ê°€
2  ì„±ì¶˜í–¥  40  ë””ìì´ë„ˆ

---

## 4ï¸âƒ£ ë°ì´í„° í™•ì¸ ë©”ì„œë“œ

> CSV íŒŒì¼ì„ ë¶ˆëŸ¬ì™”ìœ¼ë©´ ê°€ì¥ ë¨¼ì € â€œë°ì´í„°ì˜ êµ¬ì¡°â€ë¥¼ ì‚´í´ë´ì•¼ í•©ë‹ˆë‹¤.
>

In [ ]:
# ë°ì´í„° í™•ì¸ ë©”ì„œë“œ
# 1. head() / tail()
# ë°ì´í„°ê°€ ì œëŒ€ë¡œ ì¶œë ¥ë˜ëŠ”ì§€ í™•ì¸
print(df2.head(1))
print(df2.tail(1))

# 2. info()
# rangeIndex : ì´ ë°ì´í„° ìˆ˜ íŒŒì•… / data colums : ì´ ìë£Œì˜ ê°œìˆ˜ íŒŒì•…
# Non-Null : nullê°’ í™•ì¸ // Dtype : ìë£Œí˜•íŒŒì•… // memory usage : ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰
print(df2.info())

# 3. describe()
# ìˆ˜ì¹˜í˜• ìë£Œì— ëŒ€í•œ í†µê³„ëŸ‰ í™•ì¸ 
# 1. ì´ìƒì¹˜ëŠ” ì—†ëŠ”ì§€ 2. ë°ì´í„°ì˜ êµ¬ì¡°ë° ë¶„í¬ í™•ì¸ 3. í•œê°€ì§€ê°’ìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§€ì§€ ì•Šì•˜ëŠ”ì§€ ë¹ ë¥´ê²Œ íŒŒì•…
print(df2.describe())

    ì´ë¦„  ë‚˜ì´   ì§ì—…
0  í™ê¸¸ë™  30  ê°œë°œì
    ì´ë¦„  ë‚˜ì´    ì§ì—…
2  ì„±ì¶˜í–¥  40  ë””ìì´ë„ˆ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      3 non-null      object
 1   ë‚˜ì´      3 non-null      int64
 2   ì§ì—…      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
         ë‚˜ì´
count   3.0
mean   30.0
std    10.0
min    20.0
25%    25.0
50%    30.0
75%    35.0
max    40.0

## 5ï¸âƒ£ ğŸ§© ì¶”ê°€ ì‹¤ìŠµ â€” â€œì§ì› ì •ë³´ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°â€

> ë‹¤ìŒê³¼ ê°™ì€ CSVë¥¼ ì˜ˆì‹œë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤.
>

In [21]:
data = {
    "ì´ë¦„" : ["í™ê¸¸ë™", "ì´ëª½ë£¡", "ì„±ì¶˜í–¥"],
    "ë¶€ì„œ" : ["ê°œë°œ", "ê¸°íš", "ë””ìì¸"],
    "ì§ê¸‰" : ["ëŒ€ë¦¬", "ì‚¬ì›", "ê³¼ì¥"],
    "ì—°ë´‰" : [5500, 42000, 6000]
}

# ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°
df = pd.DataFrame(data)

# csv ë§Œë“¤ê¸°
df.to_csv("employee.csv", index=False, encoding="utf-8")

#í˜„í™© ì‚´í´ë³´ê¸°
print(df.info())
print(df.describe())
print(df.head(2))
print(df.tail(2))

# ì—°ë´‰ í‰ê· , ìµœëŒ€ê°’ 
print(df["ì—°ë´‰"].mean())
print(df["ì—°ë´‰"].max())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      3 non-null      object
 1   ë¶€ì„œ      3 non-null      object
 2   ì§ê¸‰      3 non-null      object
 3   ì—°ë´‰      3 non-null      int64
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None
                 ì—°ë´‰
count      3.000000
mean   17833.333333
std    20930.440352
min     5500.000000
25%     5750.000000
50%     6000.000000
75%    24000.000000
max    42000.000000
    ì´ë¦„  ë¶€ì„œ  ì§ê¸‰     ì—°ë´‰
0  í™ê¸¸ë™  ê°œë°œ  ëŒ€ë¦¬   5500
1  ì´ëª½ë£¡  ê¸°íš  ì‚¬ì›  42000
    ì´ë¦„   ë¶€ì„œ  ì§ê¸‰     ì—°ë´‰
1  ì´ëª½ë£¡   ê¸°íš  ì‚¬ì›  42000
2  ì„±ì¶˜í–¥  ë””ìì¸  ê³¼ì¥   6000
17833.333333333332
42000